* {
    transition: .2s ease-in-out;
}

body {
    background-color: black;
}

.btn-register-nav {
    height: 90px;
    width: 90px;
    transition: 0.2s ease-in-out;
    background-image: linear-gradient(to top right, rgba(255, 0, 0, 0.705), rgba(128, 0, 128, 0.952));
    font-weight: bold;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
}

.btn-register-nav:hover {
    color: white;
    box-shadow: 3px 3px 5px rgb(174, 0, 255);
    transform: rotate(360deg);
}

section,
.footer-end {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.705), rgba(128, 0, 128, 0.952));
}

.navbar-img {
    height: 80px;
    width: 80px;
    transition: transform .2s ease-in-out;
    border-radius: 50%;
}

.navbar-img:hover {
    transform: rotate(360deg);
}

.navbar-text {
    text-align: center;
}

.section-logo-main {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.section-main-btn-one {
    background-color: rgba(255, 0, 0, 0.705);
}

a {
    cursor: pointer;
}

input {
    background-color: black;
}

.onload {
    display: none;
}

.btn-search {
    background-image: linear-gradient(to top right, rgba(255, 0, 0, 0.705), rgba(128, 0, 128, 0.952));
}

.btn-search:hover {
    border: 1px solid red;
    background-image: linear-gradient(to bottom left, rgba(255, 0, 0, 0.705), rgba(128, 0, 128, 0.952));
}